@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

$page-background:#000E14;

$card-color:#00151E;
$card-border:#003247;


$card-color-1:#002231;
$card-color-2:#001721;
$card-color-3:#001018;

$primary-font-color:#E7F3EB;
$header-font-color:#F2FDF6;

$primary-font:'Roboto Mono',serif;
$secondary-font:'Rubik',serif;

body
{
	background-color:$page-background;
}

.weather-card
{
	color:$primary-font-color;
	//background-color:$card-color;
	font-family:$primary-font;
	//border:1px solid $card-border;
	.weather-details
	{
		text-align:center;

		.day
		{
			font-size:2.6rem;
			background-color:$card-color-1;
		
		}
		.temperature
		{
			font-size:2.3rem;
			background-color:$card-color-2;

		}
		.forecast
		{
			background-color:$card-color-3;
			font-size:2.2rem;
		}

		.day,.temperature,.forecast
		{
			margin:4%;
			padding:30px;
		}
	}

}

.header
{
	text-align:center;
	background-color:transparent;
	font-family:$secondary-font;
	//background-image:url("https://unsplash.it/1700/400?image=53&gravity=center&blur");
	h3
	{
		color:$header-font-color;
		font-size:3em;
	}
	small
	{
		color:$primary-font-color;
		font-style:oblique;
		visibility:hidden;
	}
}

footer
{
	background-color:$card-color-3;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height:25px;
}
